<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
  <link rel="stylesheet" href="https://fonts.googlefonts.cn/css?family=Fira+Mono|Roboto+Slab:400,600|Noto+Serif+SC:600|Lora:700&display=swap">
  <script async src="https://umami.clientinfra.com/fd5c29bd-10f7-4017-80c8-9d7aaf7c3e8b" data-website-id="b25f85f7-169d-4949-9ce5-1d9cea51b28c"></script>
  <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/styles/base16/dracula.min.css" rel="stylesheet">
  <!-- <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/styles/base16/github.min.css" rel="stylesheet"> -->
  <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>