<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
  <link href="https://fonts.googlefonts.cn/css?family=Lora:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700&amp;display=swap&amp;subset=chinese-simplified" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/styles/base16/dracula.min.css" rel="stylesheet">
  <script async src="https://umami.clientinfra.com/fd5c29bd-10f7-4017-80c8-9d7aaf7c3e8b" data-website-id="b25f85f7-169d-4949-9ce5-1d9cea51b28c"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>