<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
  <link href="https://fonts.googlefonts.cn/css?family=Lora:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700&amp;display=swap&amp;subset=chinese-simplified" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/styles/base16/dracula.min.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>